body{
    background-color:#000000;
    text-align: center;
}

@media only screen and (max-width: 1920px){
    .gif{
        width: auto;
        height: 800px;
    }
}
@media only screen and (max-width: 1000px){
    .gif{
        width: auto;
        height: 500px;
    }
}
@media only screen and (max-width: 500px){
    .gif{
        width: auto;
        height: 300px;
    }
}